" enable standard vim plugins
set surround
set multiple-cursors

" set clipboard as default register
set clipboard=unnamedplus,unnamed
set clipboard+=ideaput

" show hybrid relative line numbers
set number relativenumber

" set leader key
let mapleader = " "

" disable special keys
let g:C_Ctrl_j = "off"

" set alternative ESC key
imap jj <Esc>

" indentation settings
set tabstop=2				" the width of tabs is set to 2
set shiftwidth=2		" indents will have a width of 2
set softtabstop=2		" sets the # of columns for tabs
set expandtab				" expand tabs to spaces
set autoindent

" search settings
set hlsearch							" highlight search terms
set ignorecase						" case insensitive
" press enter to get rid of search results
nnoremap <CR> :nohlsearch<CR>
nnoremap n nzz
nnoremap N Nzz

" scrolling
set scrolljump=8		" lines to scroll when cursor leaves the screen
set scrolloff=3			" minimum lines to keep above and below cursor
noremap J 10jzz
noremap K 10kzz

" move line up/down
" nnoremap <A-j> :m .+1<CR>==
" nnoremap <A-k> :m .-2<CR>==

" remap zero to jump to first non-empty character in line
nnoremap 0 ^

" map ; to "write ; at end of line"
nnoremap ; A;<ESC>

" set number format always to decimal
set nrformats=alpha

" replace split buffer creation
nnoremap <leader>v :action SplitVertically<CR>
nnoremap <leader>h :action SplitHorizontally<CR>

" Split window navigation
nnoremap <Tab> <C-w>w
nnoremap <S-Tab> <C-w>p

" disable error sounds
set visualbell
set noerrorbells

" bufkill settings
nnoremap <C-c> :BD<cr>				" map Ctrl-c to close the current buffer
nnoremap <leader>q :action CloseAllEditorsButActive<CR>

" replace project tree toggle (TODO: repair)
nnoremap <F2> :action ActivateProjectToolWindow<CR>
nnoremap <leader>2 :action ActivateProjectToolWindow<CR>

" open fzf alternative
nnoremap <leader>p :action FileStructurePopup<CR>
nnoremap <leader>e :action GotoNextError<CR>
nnoremap <leader>E :action GotoPreviousError<CR>
nnoremap <leader>f :action FindInPath<CR>
nnoremap <leader>F :action SelectInProjectView<CR>
nnoremap <leader>u :action FindUsages<CR>
nnoremap <leader>xi :action ExtractInterface<CR>
nnoremap <leader>t :action ActivateTerminalToolWindow<CR>

" goto commands
nnoremap gb :action Back<CR>
nnoremap gf :action GotoFile<CR>
nnoremap gc :action GotoClass<CR>
nnoremap gs :action GotoSymbol<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gp :action FrameSwitchAction<CR>

" activate kjump as easymotion substitute
nnoremap <leader><leader> :action KJumpAction<CR>

" reformatting
nnoremap <leader>c :action ReformatCode<CR>
" nnoremap <leader>p :action ReformatWithPrettierAction<CR>
nnoremap <leader>r :action RenameElement<CR>
nnoremap <leader>R :action ReplaceInPath<CR>
nnoremap <leader>i :action Inline<CR>

" code folding
nnoremap zf :action CollapseRegion<CR>
nnoremap zd :action ExpandRegion<CR>
nnoremap zs :action CollapseAllRegions<CR>
nnoremap za :action ExpandAllRegions<CR>

" display
nnoremap <leader>V :action ChangeView<CR>

" code generator
nnoremap <leader>g :action GenerateGetterAndSetter<CR>

" git commands
nnoremap <leader>vc :action ChangesView.ToggleCommitUi<CR>
nnoremap <leader>vp :action Vcs.Push<CR>
